:root{
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: all 0.15s !important;
}
body{
    background-color: #FFF8EC;
}
img{
    width: 100%;
    display: block;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h5,h6{
    font-weight: 700;
}
.container{
    width: 80%;
}
/* global class */
.max-80rem{
    max-width: 80rem;
}
.me-2-5{
    margin-right: .75rem !important;
}
.mb-2-5{
    margin-bottom: .75rem !important;
}
.my-4-5{
    margin-block: 2rem !important;
}
.mb-6{
    margin-bottom: 4rem !important;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.rounded-4-5{
    border-radius: 1.5rem;
}
.text-custom-gray {
    color: #6a7282 !important;
}
.text-custom-gray2 {
    color: #4a5565 !important;
}
.text-custom-gray3 {
    color: #364153 !important;
}
.fs-36px{
    font-size: 2.25rem;
}
.fs-18px{
    font-size: 1.125rem;
}
.fs-14px{
    font-size: .875rem;
}
.fs-12px{
    font-size: .75rem;
}
/* nav bar */
.navbar{
    border-bottom-color: #ffedd4 !important;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
}
.navbar .icon {
    background-image: linear-gradient(-45deg,#fb2c36,#ff6900);
    width: 3rem;
    height: 3rem;
}
.navbar .lead{
    font-size: .875rem;
}
.navbar .collapse .inner {
    border-top-color: #ffedd4 !important;
    border-width: 0px;

}
.navbar .collapse i {
    color: #4a5565;
}
.navbar .collapse i:hover {
    color: #f54a00;
}
.navbar .collapse img {
    width: 2.5rem;
    height: 2.5rem;
    border-color: #ffb86a !important;
}
.navbar .navbar-toggler{
    color: #4a5565;
}
/* main section */
section > .inner{
    height: 750px;
    box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
}
section .inner .left .rate{
    top: 1.5rem;
    left: 1.5rem;
    background-color: #FCF9F6;
}
section .inner .left .rate i{
    color: #fdc700;
}
section .inner .left .img-text{
    right: 1.5rem;
    left: 1.5rem;
    bottom: 1.5rem;
    background-color: #F8F6F5;
}
section .inner .left .img-text div:nth-child(1) i{
    color: #ff6900;
}
section .inner .left .img-text div:nth-child(2) i{
    color: #fb2c36;
}
section .inner .left .img-text div:nth-child(3) i{
    color: #2b7fff;
}
section .inner .right{
    padding: 2.5rem;
    scrollbar-width: thin;
    scrollbar-color: #fe886a4d transparent;
}
section .inner .right .badges .badge{
    line-height: 1rem;
    padding: .25rem .75rem;
}
section .inner .right .badges .badge:nth-child(1){
    background-color: #dcfce7;
}
section .inner .right .badges .badge:nth-child(2){
    background-color: #dbeafe;
}
section .inner .right .up .buttons button{
    width: 3rem;
    height: 3rem;
    border-radius: 12px;
    color: #f54a00;
    background-color: #ffedd4;
}
section .inner .right .up .buttons button:hover{
    background-color: #ffd7a8;
}
section .inner .right .alert{
    border-left: 4px solid #fb2c36 !important;
    background-color: #fef2f2;
}
section .inner .right .alert i{
    color: #fb2c36;
}
section .inner .right .alert div p:nth-child(1){
    color: #9f0712;
}
section .inner .right .alert div p:nth-child(2){
    color: #e7000b;
}
.nav-underline button:hover{
    color: #364153 !important;
}
.nav-underline button.active{
    color: #f54a00 !important;
    border-bottom:2px solid #f54a00 !important;
}
.right .tab-pane{
    height: 350px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #fe886a4d transparent;
}
.right .tab-content #nav-Ingredients .inner{
    background-color: #FFF9EC;
}
.right #nav-Ingredients .line .number{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ff6900;
    margin-top: 2px;
    margin-right: 12px;
}
.right #nav-Ingredients .line:last-child{
    padding: 0px !important;
    margin: 0px !important;
}
.right #nav-Instructions .line .number{
    background-color: #ff6900;
    width: 3rem;
    height: 3rem;
}
.right #nav-Instructions .line:last-child{
    margin: 0px !important;
}
.right #nav-Nutrition .line{
    background-color: #F9FAFB;
}
.right #nav-Nutrition .line .icon{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 12px;
}
.right #nav-Nutrition .col:nth-child(1) .line .icon{
    background-color: #ffedd4;
    color: #f54a00;
}
.right #nav-Nutrition .col:nth-child(2) .line .icon{
    background-color: #dbeafe;
    color: #155dfc;
}
.right #nav-Nutrition .col:nth-child(3) .line .icon{
    background-color: #fef9c2;
    color: #d08700;
}
.right #nav-Nutrition .col:nth-child(4) .line .icon{
    background-color: #ffe2e2;
    color: #e7000b;
}
.right #nav-Nutrition .col:nth-child(5) .line .icon{
    background-color: #dcfce7;
    color: #00a63e;
}
.right #nav-Nutrition .col:nth-child(6) .line .icon{
    background-color: #fce7f3;
    color: #e60076;
}
.right #nav-Chef .line{
    background-color: #FFFBEB;
    border-radius: 12px;
    border-left: 4px solid #ffb900 !important;
}
.right #nav-Chef .line:last-child{
    margin: 0px;
}
.right #nav-Chef .line i{
    color: #e17100;
}









.right .tryAnotherRecipe button{
    background-image: linear-gradient(to left,#fb2c36,#ff6900);   
    border-radius: .75rem;
    padding-block: .75rem;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}
.right .tryAnotherRecipe button:hover{
    box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
    transform: scale(1.05) scaleZ(1.05);
    background-image: linear-gradient(to left,#e7000b,#f54a00);   
}